<div class='notification'>
    <div class="notice">チャットグループが作成されました。</div>
</div>

<div class='chat-side'>
  <div class='chat-side__user'>
    <div class='chat-side__user-content'>
      <div class='chat-side__user-name'>
        user-name
      </div>
      <a class="chat-side__user--new-group" href="/groups/new">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="chat-side__user--edit-user" href="/users/edit">
        <i class="fa fa-cog"></i>
      </a>
    </div>
  </div>
  <div class='chat-side__groups'>
    <div class="chat-side__groups-list">
      <a href="/groups/2201/messages">
        <div class="chat-side__group">
          <div class="chat-side__group-name">
            group1
          </div>
          <div class="chat-side__group-message">
            test1
          </div>
        </div>
      </a>
      <a href="/groups/2201/messages">
        <div class="chat-side__group">
          <div class="chat-side__group-name">
            group2
          </div>
          <div class="chat-side__group-message">
            test2
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class='chat-main'>
  <div class="chat-main__header">
    <div class="chat-main__header--group clearfix">
      <div class="chat-main__header--group-name">
        sampleグループ
      </div>
      <a class="chat-main__header--group-edit-btn" href="/groups/2201/edit">
        edit
      </a>
    </div>
    <div class="chat-main__header-members">
      MEMBER:
      <i>
        1234567890
      </i>
    </div>
  </div>
</div>
