body{
  width:100%;
  height: 100%;

  .notification{
    background-color: #38AEF0;
    text-align: center;
  }

  .chat-side{
    background-color: #253141;
    height:100vh;
    width:300px;
    float:left;
    .chat-side__user{
      height: 15%;
      width: 100%;
      background-color: #090c10;
      position: relative;
      .chat-side__user-content{
        height: 50px;
        width: 100%;
        line-height: 50px;
        margin: auto 0;
        position: absolute;
        top: 0;
        bottom: 0;
        .chat-side__user-name{
          color: #FFFFFF;
          font-size: 16px;
          font-weight: bold;
          margin: 0 20px;
          position: relative;
          display: inline-block;
        }
        .chat-side__user--new-group{
          color: #FFFFFF;
          font-size:15px;
          margin-left: 90px;
          position: relative;
          display: inline-block;
        }
        .chat-side__user--edit-user{
          color: #FFFFFF;
          font-size:11px;
          position: relative;
          display: inline-block;
        }
      }
    }
    .chat-side__groups{
      height: 85%;
      width: 100%;
      background-color: #253141;
      .chat-side__groups-list{
        height: 100%;
        .chat-side__group{
          padding: 20px;
          .chat-side__group-name{
            font-size: 15px;
            color: #FFFFFF;
          }
          .chat-side__group-message{
            font-size: 11px;
            color: #FFFFFF;
            margin-top:5px;
          }
        }
      }
    }
  }
  .chat-main{
    height: 100vh;
    width: calc( 100vw - 300px );
    float: left;
    .chat-main__header{
      height: 15%;
      border: 1px solid #eeeeee;
      .chat-main__header--group{
        margin: 0 40px;
        padding-top: 25px;
        .chat-main__header--group-name{
          color: #333;
          font-size: 20px;
          margin: 5px;
          float: left;
        }
        .chat-main__header--group-edit-btn{
          color: #38AEF0;
          font-size: 15px;
          padding: 12.5px 20px;
          margin: 10px 20px 0;
          border: 1px solid #38AEF0;
          float: right;
        }
      }
      .chat-main__header-members{
        color: #999999;
        font-size: 12px;
        margin: 40px 45px;
      }
    }
  }
}
