body{
  width:100%;
  height: 100%;

  .notification{
    background-color: #38AEF0;
    text-align: center;
  }

  .chat-side{
    background-color: #253141;
    height:100vh;
    width:300px;
    float:left;
    &__user{
      height: 15%;
      width: 100%;
      background-color: #090c10;
      position: relative;
      &-content{
        height: 50px;
        width: 100%;
        line-height: 50px;
        margin: auto 0;
        position: absolute;
        top: 0;
        bottom: 0;
        .chat-side__user-name{
          color: #FFFFFF;
          font-size: 16px;
          font-weight: bold;
          margin: 0 20px;
          position: relative;
          display: inline-block;
        }
        .chat-side__user--new-group{
          color: #FFFFFF;
          font-size:15px;
          margin-left: 90px;
          position: relative;
          display: inline-block;
        }
        .chat-side__user--edit-user{
          color: #FFFFFF;
          font-size:11px;
          position: relative;
          display: inline-block;
        }
      }
    }
    .chat-side__groups{
      height: 85%;
      width: 100%;
      background-color: #253141;
      &-list{
        height: 100%;
        .chat-side__group{
          padding: 20px;
          &-name{
            font-size: 15px;
            color: #FFFFFF;
          }
          &-message{
            font-size: 11px;
            color: #FFFFFF;
            margin-top:5px;
          }
        }
      }
    }
  }
  .chat-main{
    height: 100vh;
    width: calc( 100vw - 300px );
    float: left;
    &__header{
      height: 15%;
      border: 1px solid #eeeeee;
      &--group{
        margin: 0 40px;
        padding-top: 25px;
        &-name{
          color: #333;
          font-size: 20px;
          margin: 5px;
          float: left;
        }
        &-edit-btn{
          color: #38AEF0;
          font-size: 15px;
          padding: 12.5px 20px;
          margin: 10px 20px 0;
          border: 1px solid #38AEF0;
          float: right;
        }
      }
      &-members{
        color: #999999;
        font-size: 12px;
        margin: 40px 45px;
      }
    }
    &__body{
      height: calc( 100vh - 15% - 123px );
      overflow-y: scroll;
      &--messages-list{
        padding-top: 26px;
        padding-left: 40px;
        .chat-main__message{
          padding: 20px 0;
          &-name{
            color: #434A54;
            font-size: 16px;
            font-weight: bold;
            float: left;
          }
          &-time{
            color: #999999;
            font-size: 12px;
            padding: 0 10px 10px;
            float: left;
          }
          &-body{
            font-size: 14px;
            color: #434A54;
            clear: both;
          }
        }
      }
    }
    &__footer{
     padding-bottom: 30px;
      height: 90px;
      width: 100%;
      background-color: #B8C3C7;
      &-form{
        margin: 0 40px;
        position: relative;
        .chat-main__footer-body{
          position: relative;
          .message{
            height: 40px;
            width: calc( 100% - 130px );
            padding: 15px 10px;
            margin: 20px 0;
            border: none;
          }
          .chat-file{
            height: 50px;
            width: 40px;
            margin: 32px 130px 20px 0;
            position: absolute;
            top: 0;
            right: 0;
            .image{
              position: absolute;
              top: 15px;
              left: 15px;
              display: none;
            }
            .fa{font-size:-webkit-xxx-large;}
          }
        }
        .submit {
          color: #fff;
          width: 100px;
          height: 50px;
          text-align: center;
          background-color: #38AEF0;
          margin: 30px 0;
          position: absolute;
          top: 0;
          right: 0;
          border: none;
        }
      }
    }
  }
}
